<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
	<link rel="stylesheet" href="data.css" />
	<link rel="stylesheet" href="houtai.css" />
</head>
<body>
	<div class="addnewgoods goodslist">
		<div class="main-top">
			<a class="top-l" href="">ECSHOP 管理中心-编辑个人资料</a>
			<img src="images/jnsy.png" alt="" />
			<p><a href="">+</a>管理员列表</p>
		</div>
		<div class="main-con">
			<p>用户名<input type="text" placeholder="admin"/><a href="">*</a></p>
			<p>Email地址<input type="text" placeholder="12345@qq.com"/><a href="">*</a></p>
			<p>旧密码<input type="text" />
			<a href="">*</a><br />
			<span style="font-weight: 100;font-size:12px;margin-left:58px">如果要修改密码，清先填写旧密码，如留空，密码保存不变</span>
			</p>
			<p>新密码<input type="text" /><a href="">*</a></p>
			<p>确认密码<input type="text" /><a href="">*</a></p>
			<h3>
				<b>设置个人导航</b>
				<div class="left">
					<ul>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						
					</ul>
				</div>
				<div class="cent">
					<ul>
						<li>上移</li>
						<li>下移</li>
						<li>增加</li>
						<li>删除</li>
					</ul>
				</div>
				<div class="right">
					<ul>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
						<li>用户评论</li>
						<li>商品列表</li>
					</ul>
				</div>
			</h3>
			<button class="but butt">确定</button>
			<button class="but">重置</button>
		</div>
		
	</div>
</body>
</html>